*
{
    padding: 0;
    margin: 0;
    user-select: none;
}

body{
    background-color: rgb(227, 193, 255);
}

.btn
{
    width: 30vw;
    padding: 2vw;
    border: 5px solid #fff;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.main_btn
{
    width: 30vw;
    padding: 2vw;
    border: 5px solid #fff;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}

/* main */
main
{
    position: relative;
}

.start
{
    padding-top: 10%;
}

section
{
    margin-top: 10%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: none;
}

section.start
{
    margin-top: 0;
}

section.start p 
{
    width: 70%;
}

p
{
    width: 90%;
    color: #fff;
    font-size: 3vw;
    text-align: center;

}

section.active
{
  display: flex;
    flex-direction: column; /* 이미지 위, 버튼 아래 정렬 */
    align-items: center;     /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
}

section .q
{
    font-size: 3vw;
    color: black;
    margin-bottom: 20px;
}

section > div 
{
    margin: 5%;

}

.selection
{
    display: flex;
}

.selection > div
{
    margin-right: 5%;
}

.selection > div:last-child
{
    margin-right: 5%;
}

.selection > div:hover
{

    background-color: rgb(255, 128, 170);
    cursor: pointer;
}

/* explain */
section#A, section#B, section#C, section#D, section#E
{
    margin-top: 2vw;
}

.explain
{
    text-align: center;
}

h1
{
    text-align: center;
    font-size: 2.5vw;
    color: rgb(194, 23, 236);
}

h2{
    text-align: center;
    font-size: 2.5vw;
    color: rgb(255, 255, 255);
}
h6
{
    margin-top: 2%;
    font-size: 2vw;
}



@media (max-width: 768px) {

  /* 텍스트 크기 키우기 */
  h1 {
    font-size: 5vw;
  }

  h2{
font-size: 4vw;
padding: 0 10vw;
}

  h6
  {
    font-size: 4vw;
  }

  p
  {
    font-size: 4vw;
  }

  section .q {
    font-size: 4vw;
  }

  /* 버튼 크기 키우기 */
  .btn, .main_btn, .btn2 {
    width: 60vw;
    padding: 2vw;
  }

  /* 선택지 정렬 세로로 변경 */
  .selection {
    flex-direction: column;
    align-items: center;
    gap: 3vw;
  }

  .selection > div {
    width: 70vw;
  }

  /* section 고정 layout 깨짐 방지 */
  section {
    position: relative;
    left: auto;
    transform: none;
    width: 100%;
    padding-top: 20vh;
  }

  
}
